<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login with Footer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <div class="is-hero">
    <div class="is-image-container" padding-top>
      <img src="assets/imgs/logo-dark.png" />
    </div>
  </div>

  <ion-list padding class="is-list-transparent">
    <ion-item>
      <ion-input type="text" placeholder="Login"></ion-input>
    </ion-item>

    <ion-item class="is-password-field">
      <ion-input [type]="passwordType || 'password'" placeholder="Password"></ion-input>
      <ion-button fill="clear" size="default" slot="end" (click)="togglePasswordType()">
        <ion-icon [name]="(passwordType === 'text') ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-grid class="is-grid">
    <ion-row>
      <ion-col size="6" no-padding>
        <ion-list lines="none" padding no-margin class="is-list-buttons is-list-transparent">
          <ion-item color="primary" button detail="false">
            <ion-label text-center>Login</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6" no-padding>
        <ion-list lines="none" padding no-margin class="is-list-buttons is-list-transparent">
          <ion-item button detail="false">
            <ion-label text-center>Signup</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="full" fill="clear" class="is-forgot" no-margin>Forgot password?</ion-button>
</ion-content>
