<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding-horizontal>
    <h1>Welcome to Ionic Stencil Essential</h1>

    <p>
      Create a list with all possible keywords that fit to your product, service or business field. The more the better.
    </p>
  </div>

  <ion-list padding>
    <ion-item>
      <ion-input type="text" placeholder="Login"></ion-input>
    </ion-item>

    <ion-item class="is-password-field">
      <ion-input [type]="passwordType || 'password'" placeholder="Password"></ion-input>
      <ion-button fill="clear" size="default" slot="end" (click)="togglePasswordType()">
        <ion-icon [name]="(passwordType === 'text') ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list lines="none" padding no-margin class="is-list-buttons">
    <ion-item color="secondary" button detail="true">
      <ion-label>Login to Account</ion-label>
    </ion-item>
  </ion-list>

  <div padding-horizontal>
    <p>
      Forgot password? <a href="">Restore</a>
    </p>

    <p padding-top no-margin>
      Login with
    </p>

    <ion-grid class="is-grid">
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" fill="outline">
            <ion-icon name='logo-facebook' color="is-facebook"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" fill="outline">
            <ion-icon name='logo-twitter' color="is-twitter"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

    <ion-list class="is-list-buttons" padding no-margin>
      <ion-item button detail="true">
        <ion-label>Sign Up with E-mail</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
