<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ordered List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="is-hero">
    <h1 padding-start padding-end padding-top>Mark a Plan That Handy for You</h1>

    <p padding-start padding-end padding-bottom>
      If you own an Iphone, you’ve probably already worked out how much.
    </p>
  </div>

  <ion-list padding class="is-list-ordered">
    <ion-item class="is-item-active">
      <ion-thumbnail slot="start" class="is-order-number" align-self-start>
        <span>1</span>
      </ion-thumbnail>
      <ion-label align-self-start>
        <h2>Start</h2>
        <p text-wrap>Planning to visit Las Vegas or any other vacational resort where casinos are.</p>
      </ion-label>
      <span slot="end" class="is-item-info" align-self-start>
        Free
      </span>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" class="is-order-number" align-self-start>
        <span>2</span>
      </ion-thumbnail>
      <ion-label align-self-start>
        <h2>Professional</h2>
        <p text-wrap>Classified advertising is a form of advertising that is particularly common.</p>
      </ion-label>
      <span slot="end" class="is-item-info" align-self-start>
        $29/m
      </span>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start" class="is-order-number" align-self-start>
        <span>3</span>
      </ion-thumbnail>
      <ion-label align-self-start>
        <h2>Business</h2>
        <p text-wrap>This article is floated online with an aim to help you find the best dvd printing solution.</p>
      </ion-label>
      <span slot="end" class="is-item-info" align-self-start>
        $49/m
      </span>
    </ion-item>
  </ion-list>
</ion-content>
