<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item-divider color="secondary">
            <ion-label>Finance</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of walletPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Organizers</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of organizerPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Intro and Login</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of introPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Walkthroughs</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of walkthroughPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Profile</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of profilePages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Account</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of accountPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Forms</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of formPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Cloud</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of cloudPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Events</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of eventPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Catalogs</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of catalogPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Components</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of componentPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Enhanced Lists</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of enhancedListPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item-divider color="secondary">
            <ion-label>Ionic Lists</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of ionicListPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
